<div ng-controller="MainCtrl">
    <table class="table table-bordered">
        <tr>
            <th>Name</th>
            <th>Year</th>
            <th>Grapes</th>
            <th>Country</th>
            <th><button class="btn-primary" ng-click="AddData()">New</th>
        </tr>
        <tr ng-repeat="wine in Wines">
            <td><input type="text" ng-model="wine.name"/></td>
            <td><input type="text" ng-model="wine.year"/></td>
            <td><input type="text" ng-model="wine.grapes"/></td>
            <td><input type="text" ng-model="wine.country"/></td>
            <td><button class="btn-primary" ng-click="PostData(wine._id, wine)">Save</button></td>
        </tr>
    </table>
</div>
